<a href="https://colab.research.google.com/github/naro-naro/Colab/blob/main/230915.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 선택문 규칙

- if 조건문은 참 거짓 판별이 가능해야 함

- 조건식의 끝에 항상 콜론(:)이 있어야 함

- 실행 코드는 들여쓰기(tab)를 통해 종속 코드로 작성해야 함

In [ ]:
member = input('회원이십니까?(y/n) ')
if member =='y':
    print('어서오십시오.')

회원이십니까?(y/n) y
어서오십시오.

In [ ]:
member = input('회원이십니까?(y/n) ')
if member =='y':
    print('어서오십시오.')
else:
    print('회원가입을 해주세요.')

In [ ]:
age = int(input('나이를 입력하세요: '))
price = 20000
if 1 <= age < 6:
    print('입장료는 무료입니다')
elif 6 <= age < 60:
    print("입장료는",price,"원")
elif age>=60:
    print("입장료는",price*0.5,"원")

나이를 입력하세요: 30
입장료는 20000 원

In [ ]:
# 실습 : 입력받는 나이에 따라 놀이동산 입장료를 출력한다
# 입장료 정가 : 2만원, 1~6세: 무료, 6~60세: 정가, 60세 이상: 정가의 50%
# 이외의 나이를 입력할 경우 오류 메시지 출력

age = int(input("나이를 입력하세요: "))
price = 20000
if 1<=age<6:
    print("입장료는 무료입니다")
elif 6<=age<60:
    print("입장료는 {}원입니다".format(price))
elif age>=60:
    print("입장료는 {}원입니다".format(price*0.5))
else:
    print("1세 이상의 나이를 입력하세요")

나이를 입력하세요: 0
1세 이상의 나이를 입력하세요

In [ ]:
# 중첩 선택문 : if문의 조건식이 참인 경우에 또다른 내부의 if문을 중첩
id = input("아이디: ")
pw = input("비밀번호: ")
if id == "admin":
    if pw =="1234":
        print("로그인 성공")
    else:
        print("패스워드 오류")
else:
    print('아이디 오류')

아이디: admin
비밀번호: 234
패스워드 오류

# 반복문
* for문

특정 범위만큼 반복문 실행

범위를 활용하여 반복 실행

range()함수, 리스트, 문자열을 이용해 범위지정


* while문

논리 연산을 통한 조건적 반복 실행구조

참 거짓 판별이 가능한 조건식 필요

In [ ]:
for i in range(5):
    print("★"*(i+1))

★
★★
★★★
★★★★
★★★★★

In [ ]:
# for i in [1,3,5,7,9]:
for i in range(1,10,2):
    print("☆"*i)

☆
☆☆☆
☆☆☆☆☆
☆☆☆☆☆☆☆
☆☆☆☆☆☆☆☆☆

In [ ]:
odd = [1, 3, 5, 7, 9]
for i in odd:
    print(i+1, end=" ")

2 4 6 8 10

In [ ]:
for i in 'Python':
    print(i, end=" ")

P y t h o n

In [ ]:
year = 1
while year <=3:
    print("서당개 {}년".format(year))
    year+=1
print("풍월을 읊습니다.")

서당개 1년
서당개 2년
서당개 3년
풍월을 읊습니다.

In [ ]:
# 구구단 출력
# for문을 이용한 예제
num1 = int(input('첫번째 단 입력: '))
for i in range(1,10):
    print("{} * {} = {}".format(num1,i,num1*i))
print()

# while문을 이용한 예제
j = 1
num2 = int(input("두번째 단 입력: "))
while j <= 9:
    print("{} * {} = {}".format(num2, j, num2*j))
    j +=1

첫번째 단 입력: 7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

두번째 단 입력: 8
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

# break문

: 반복 구간을 더이상 실행하지 않고 종료한다

# continue문

: 반복 구간의 남은 명령문을 실행하지 않고 반복문 처음으로 이동한다

In [ ]:
for i in range(1,31):
    if i %7 ==0:
        print('7의 배수: {}'.format(i))
        # 0을 입력하기 전까지 무한 반복

for j in range(1, 31):
    if j%7 !=0:
        continue
        print('7의 배수: {}'.format(j))

7의 배수: 7
7의 배수: 14
7의 배수: 21
7의 배수: 28

# pass문

: 아무것도 실행하지 않는다

In [ ]:
# 중첩 반목문의 예 : 0을 입력하기 전까지 단을 입력 받아 구구단을 출력한다
while True:
    num = int(input('단 입력(종료:0): '))
    if num==0:
        break
    i = 1
    while i <= 9:
        print("{} * {} = {}".format(num, i, num*i))
        i +=1
    print()

단 입력(종료:0): 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

단 입력(종료:0): 7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

단 입력(종료:0): 0

In [ ]:
alpha = {'A':"1!", "B":"2@", "C":"3#", "D":"4$", "E":"5%"}
while True:
    code = ''
    word = input("대문자 A~E 단어 입력(종료:0): ")
    if word == "0":
        break
    for ch in word:
        code += alpha[ch]
    print("단어: {}, 암호코드:{},\n".format(word, code))

print("암호코드 변환 프로그램 종료")

대문자 A~E 단어 입력(종료:0): A
단어: A, 암호코드:1!,


대문자 A~E 단어 입력(종료:0): 0
암호코드 변환 프로그램 종료

In [ ]:
start = int(input('시작단 입력: '))
end = int(input("종료단 입력: "))
for num in range(start, end+1):
    i=1
    while i <= 9:
        print("{} * {} = {}".format(num, i ,num*i))
        i+=1
print("구구단 프로그램 종료")

In [ ]:
main = ['참치', '불고기']
side = ['오이', '계란']
i=1
for m in main:
    for s in side:
        print('{} {} + {} + 단무지'.format(i, m,s))
        i+=1

1 참치 + 오이 + 단무지
2 참치 + 계란 + 단무지
3 불고기 + 오이 + 단무지
4 불고기 + 계란 + 단무지


# 내장 함수

max() : 리스트, 문자열에서 가장 큰 값

min() : 리스트, 문자열에서 가장 작은 값

len() : 길이


type() : 자료형

int() : 정수형 변환

float() : 부동 소수점 변환

str() : 문자열 변환

import math : 수학함수

In [ ]:
import math
r = 45
radians = r * r * math.pi
print("원의 넓이는 ",radians)

원의 넓이는  6361.725123519331

In [ ]:
import random
print(random.randint(5, 10)) # 5이상 10이하의 무작위 수
print(random.randrange(5, 10)) # 5이상 10미만의 무작위 수
print(random.sample(range(1, 46),6)) # 5이상 10미만의 6개의 무작위 수
print(random.choice(['가위','바위','보']))

5
9
[15, 35, 11, 45, 26, 39]
바위

In [ ]:
text = ['가위','바위','보']
print(random.choice(text))

보


# 사용자 정의 함수


* def

함수를 만들때 사용하는 예약어


* 함수 이름 작성 규칙

첫 글자는 알파벳 또는 _

공백 불가

예약어 불가

알파벳, 숫자, _만 가능


* header

함수의 첫줄

콜론(:)으로 끝나야 함

예) def print_lyrics():


* body

여러 명령문이 포함됨

들여쓰기 해야 함

In [ ]:
def max1(num1, num2):
    if num1>num2:
        return num1
    else:
        return num2
a=int(input("1st: "))
b=int(input("2nd: "))
print("큰 수: {}".format(max1(a,b)))

1st: 15
2nd: 25
큰 수: 25


# lambda 람다함수

- 이름이 없는 익명 함수

- 일회용 함수

- 식 형태로 되어있음

- 간편 작성 가능

- 익명 함수

In [ ]:
plus_five = lambda x: x+5
plus_five(10)

15

In [ ]:
# map()함수 : 매핑시킨다
def plus_five(x):
    return x+5

list(map(plus_five, [10,20,30]))

[15, 25, 35]

In [ ]:
list(map(lambda x : x+5, [10,20,30]))

[15, 25, 35]