<a href="https://colab.research.google.com/github/naro-naro/Colab/blob/main/231013.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 퀴즈 리뷰
* /연산자는 실수형으로 반환되므로 소수점 주의
* randint(a,b) : a~b까지의 랜덤 정수
* range(a,b) : a~b-1까지의 범위

In [ ]:
a, b = ['python'], ['math','eng']
print(a+b)
b.append(a+b)
print(b)

['python', 'math', 'eng']
['math', 'eng', ['python', 'math', 'eng']]

# 파일 입,출력
* 구글드라이브 마운트
* content > drive > Mydrive > Colab Notebooks > 파일 우클릭 > 경로 복사

In [ ]:
dir = '/content/drive/MyDrive/Colab Notebooks/2023-2 언분프/1006실습/name.txt'
# f=open(dir, 'r')
f=open(dir, 'r', encoding='cp949') # 또는 'cp949' : 인코딩 에러 발생 시
data = f.read()
print(data)
f.close()

홍길동
홍이동
홍삼동

In [ ]:
dir = '/content/drive/MyDrive/Colab Notebooks/2023-2 언분프/1006실습/name.txt'
f=open(dir, 'r', encoding='cp949')
data = f.readline() # 한줄씩 출력됨
print(data)
f.close()

홍길동

In [ ]:
dir = '/content/drive/MyDrive/Colab Notebooks/2023-2 언분프/1006실습/name.txt'
f=open(dir, 'r', encoding='cp949')
while True:
    data =f.readline()
    if not data:
        break
    print(data, end=',')
f.close()

홍길동
,홍이동
,홍삼동,

In [ ]:
dir = '/content/drive/MyDrive/Colab Notebooks/2023-2 언분프/1006실습/name.txt'
f=open(dir, 'r', encoding='cp949')
while True:
    data =f.readline()
    if not data:
        break
    print(data)
f.close()

홍길동

홍이동

홍삼동

In [ ]:
dir = '/content/drive/MyDrive/Colab Notebooks/2023-2 언분프/1006실습/name.txt'
f=open(dir, 'r', encoding='cp949')
while True:
    data =f.readline()
    if not data:
        break
    print(data, end='')
f.close()

홍길동
홍이동
홍삼동

In [ ]:
dir = '/content/drive/MyDrive/Colab Notebooks/2023-2 언분프/1006실습/name.txt'
f=open(dir, 'r', encoding='cp949')
data = f.readlines() # 리스트형태로 반환
print(data)
f.close()

['홍길동\n', '홍이동\n', '홍삼동']

In [ ]:
dir = '/content/drive/MyDrive/Colab Notebooks/2023-2 언분프/1006실습/name.txt'
f=open(dir, 'r', encoding='cp949')
data = f.readlines() # 리스트형태로 반환
for i in data:
    print(i)
f.close()

홍길동

홍이동

홍삼동

In [ ]:
dir = '/content/drive/MyDrive/Colab Notebooks/2023-2 언분프/1006실습/name.txt'
f=open(dir, 'r', encoding='cp949')
data = f.readlines() # 리스트형태로 반환
for i in data:
    print(i, end='')
f.close()

홍길동
홍이동
홍삼동

In [ ]:
dir = '/content/drive/MyDrive/Colab Notebooks/2023-2 언분프/1006실습/club.txt'
f=open(dir, 'w', encoding='cp949')
while True:
    name = input('name: ')
    if not name:
        break
    f.write(name+ '\n')
f.close()

name: 김유미
name: 아이유
name: 이강인
name:

In [ ]:
dir = '/content/drive/MyDrive/Colab Notebooks/2023-2 언분프/1006실습/club.txt'
f=open(dir, 'a', encoding='cp949')
while True:
    name = input('name: ')
    if not name:
        break
    f.write(name + '\n')
f.close()

name: 황희찬
name:

In [ ]:
dir = '/content/drive/MyDrive/Colab Notebooks/2023-2 언분프/1006실습/club2.txt'
f=open(dir, 'a', encoding='cp949')
# append 모드 : 기존에 club2 파일이 없었다면 새롭게 파일을 생성
while True:
    name = input('name: ')
    if not name:
        break
    f.write(name + '\n')
f.close()

name: 류현진
name:

In [ ]:
import os.path

fname = input('file name: ') # club3
fname = fname+'.txt'
dir = '/content/drive/MyDrive/Colab Notebooks/2023-2 언분프/1006실습/fname'
if os.path.exists(dir):
    f=open(dir, 'r')
    data = f.read()
    print(data, end='')
    f.close()
else:
    print(f'{fname}파일이 없습니다.')

file name: name
name.txt파일이 없습니다.

In [ ]:
# 연습문제 8

dir = '/content/drive/MyDrive/Colab Notebooks/2023-2 언분프/1006실습/weather.txt'
f = open(dir, 'r')
while True:
    line = f.readline()
    if not line:
        break
    month, low, high = line.split(',')
    # print(type(month), type(low), type(high))
    avg = (float(low)+float(high))/2    # 텍스트로부터 읽어온 숫자는 문자열이므로 타입에러 발생
    print(f'{month}월 평균기온은 {avg}입니다.')
f.close()

1월 평균기온은 5.5입니다.
2월 평균기온은 10.5입니다.
3월 평균기온은 22.5입니다.
4월 평균기온은 23.75입니다.
5월 평균기온은 24.2입니다.
6월 평균기온은 26.0입니다.

# 클래스로 객체 만들기
* 클래스 : 첫글자를 대문자로
* self : 클래스에 소속된 변수, 자기자신

In [ ]:
class You:
    def setname(self, n):
        self.name = n
    def setage(self, a):
        self.age = a
    def show(self) :
        print('이름:', self.name, ', 나이:', self.age)

my = You()
my.setname('준서')
my.setage('22')
my.show()

my2 = You()
my2.setname('준희')
my2.setage('21')
my2.show()

이름: 준서 , 나이: 22
이름: 준희 , 나이: 21

# 생성자

class 클래스이름 :

(tab) def __init__(self) : # 초기화할 코드 입력

In [ ]:
class You:
    def __init__(self, n, a):
        self.name = n
        self.age = a
    def show(self) :
        print('이름:', self.name, ', 나이:', self.age)

my = You('준서', 22)
my.show()

my2 = You('준희', 21)
my2.show()

이름: 준서 , 나이: 22
이름: 준희 , 나이: 21

In [ ]:
# 이름, 나이 입력받기
class You:
    def __init__(self):
        self.name = input('이름: ')
        self.age = input('나이: ')
    def show(self) :
        print('이름:', self.name, ', 나이:', self.age)

my = You()
my2 = You()

my.show()
my2.show()

이름: 길동
나이: 21
이름: 희동
나이: 23
이름: 길동 , 나이: 21
이름: 희동 , 나이: 23

In [ ]:
# 이름, 나이 입력받기 - 반복문

class You:
    def __init__(self):
        self.name = input('이름: ')
        self.age = input('나이: ')
    def show(self) :
        print('이름:', self.name, ', 나이:', self.age)

student =[]
for i in range(2):
    student.append(You())
for i in range(len(student)):
    student[i].show()

이름: 희찬
나이: 21
이름: 흥민
나이: 23
이름: 희찬 , 나이: 21
이름: 흥민 , 나이: 23

# 비공개 속성 사용하기
: 클래스 바깥에서는 접근 할 수 없고 클래스 안에서만 사용

class 클래스이름:

(tab)def __init__(self, 매개변수):

(tab)(tab)self.__속성 = 값

In [ ]:
class You:
    def __init__(self, n,a,w):
        self.name = n
        self.age = a
        self.__wallet = w
    def show(self) :
        print('이름:', self.name, ', 나이:', self.age, ', 내돈:',self.__wallet)

my=You('준서', 21, 10000)
my.show()

my.name = '준희'
my.show()

my.__wallet -=3000
my.show()

이름: 준서 , 나이: 21 , 내돈: 10000
이름: 준희 , 나이: 21 , 내돈: 10000

AttributeError: ignored

In [ ]:
class You:
    def __init__(self, n,a,w):
        self.name = n
        self.age = a
        self.__wallet = w

    def pay(self,amount):
        self.__wallet -= amount
        print(f'남은 돈은 {self.__wallet}입니다.')

    def show(self) :
        print('이름:', self.name, ', 나이:', self.age, ', 내돈:',self.__wallet)

my=You('준서', 21, 10000)
my.show()
my.pay(3000)

이름: 준서 , 나이: 21 , 내돈: 10000
남은 돈은 7000입니다.

In [ ]:
# 객체지향 퀴즈2
# 사칙연산 클래스

class Calc :
    def __init__(self, n) :
        self.a = n

    def plus(self, value) :
        print(self.a, '+', value, '=', self.a + value)

    def min(self, value) :
        print(self.a, '-', value, '=', self.a - value)

    def mult(self, value) :
        print(self.a, '*', value, '=', self.a * value)

    def div(self, value) :
        print(self.a, '/', value, '=', self.a / value)


my = Calc(3)
my.plus(7)
my.mult(10)

3 + 7 = 10
3 * 10 = 30

In [ ]:
#quiz.3

class Calc :
    def __init__(self, n1, n2) :
        self.a = n1
        self.b = n2
    def calculate(self, op) :
        if (op == '+'):
            print(self.a, '+', self.b, '=', self.a + self.b)
        elif (op == '*'):
            print(self.a, '*', self.b, '=', self.a * self.b)

num1 = int(input('Num1:'))
num2 = int(input('Num2:'))
obj = Calc(num1, num2)
obj.calculate('+')
obj.calculate('*')

Num1:3
Num2:6
3 + 6 = 9
3 * 6 = 18

In [ ]:
# 빈도수를 구하는 프로그램

text = "AI! 나는 인공지능 로봇 입니다. 나는 'AI 로봇' 입니다."
print(text.split(' ')) # 리스트 형태로 출력

['AI!', '나는', '인공지능', '로봇', '입니다.', '나는', "'AI", "로봇'", '입니다.']

In [ ]:
# 빈도수
text = "AI! 나는 인공지능 로봇 입니다. 나는 'AI 로봇' 입니다."
text.split(' ')
print(text)

AI! 나는 인공지능 로봇 입니다. 나는 'AI 로봇' 입니다.

In [ ]:
# 빈도수 계산1

text = "AI! 나는 인공지능 로봇 입니다. 나는 'AI 로봇' 입니다."
def max_counts(text):
    counts = {} # 딕셔너리
    for i in text.split(' '): #Ai!, 나는, 인공지능, 로봇, 입니다., 나는, 'Ai, 로봇', 입니다.
        if i in counts:    # 딕셔너리에 이미 추가된 key라면 +1 (앞에서 이미 나왔다면 +!)
            counts[i] +=1
        else:    # 처음보는 글자면 counts에 key로 추가
            counts[i] = 1
    return counts

# max_counts(text)
print(max_counts(text))

{'AI!': 1, '나는': 2, '인공지능': 1, '로봇': 1, '입니다.': 2, "'AI": 1, "로봇'": 1}

In [ ]:
# 빈도수 계산2

text = "AI! 나는 인공지능 로봇 입니다. 나는 'AI 로봇' 입니다."
def max_counts(text):
    skips = ['.', '!', ',', "'", '"', ':', ';', '?']
    for ch in skips:

    counts = {} # 딕셔너리


# max_counts(text)
print(max_counts(text))