<a href="https://colab.research.google.com/github/naro-naro/Colab/blob/main/230922.py" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 컬렉션 자료형
* 리스트 [ ]
* 튜플 ( )
* 딕셔너리 { key:value, ... }
* 세트 { }

# 리스트

* 인덱싱
* 슬라이싱
* 삽입, 삭제, 수정

In [ ]:
# 리스트 인덱싱
num = ['월', '화', '수']
print(num[0])

월

In [ ]:
# print(num[3])
# 인덱스 에러 : 범위를 넘어갔다
# IndexError: list index out of range

In [ ]:
num = [10, 20, 30]
print(num[2]/2-num[0])
# 30/2 - 10
# 15 -10

5.0

In [ ]:
print(num[0]**2/num[1])
# 10^2 / 20
# 100 / 20

5.0

In [ ]:
# 리스트 슬라이싱
num = [10, 20, 30]
print(num[:]) # 전체 범위
print(num[1:]) # 1이상의 범위
print(num[::]) # 앞콜론-전체범위에서, 뒤콜론-2간격으로
print()


print(num[0:4]) # 전체범위 중 해당범위만 잘라내는 것이므로, 오류가 발생하지 않는다
print(num[-50:50])
print()


print(num[::-1]) # 전체범위 역순으로 출력
print(num[::-2]) # 전체범위를 역순으로 2간격으로 출력

[10, 20, 30]
[20, 30]
[10, 20, 30]

[10, 20, 30]
[10, 20, 30]

[30, 20, 10]
[30, 10]

In [ ]:
num = [10, 20, 30]
print(num[-1]) # 가장 오른쪽값 출력

30

In [ ]:
# 리스트 삽입 (append, insert, extend)
num = [10, 20, 30]
num.append(40) # 리스트 맨 뒤에 값 추가
print(num)

[10, 20, 30, 40]

In [ ]:
num.append(['mon','tue']) # 리스트 맨 뒤에 값 추가
print(num)

[10, 20, 30, 40, ['mon', 'tue']]

In [ ]:
print(len(num))

5

In [ ]:
print(num[4])

['mon', 'tue']

In [ ]:
print(num[4][0])
print(num[4][1])

mon
tue

In [ ]:
num.insert(1, 13) # (인덱스, 추가할값)
print(num)

[10, 13, 20, 30, 40, ['mon', 'tue']]

In [ ]:
num1 = [10, 20, 30]
num2 = ['mon','tue']
num1.extend(num1+num2)
print(num1)

[10, 20, 30, 10, 20, 30, 'mon', 'tue']

In [ ]:
# 리스트 연결자
num1 = [10, 20, 30]
print(num1+num2)
# [10, 20, 30, 'mon', 'tue']

print(num2*3)
# ['mon', 'tue', 'mon', 'tue', 'mon', 'tue']

[10, 20, 30, 'mon', 'tue']
['mon', 'tue', 'mon', 'tue', 'mon', 'tue']

In [ ]:
# 리스트 값 변경(수정)
num1 = [10, 20, 30]
num1[1] = 200
print(num1)
# [10, 200, 30]

[10, 200, 30]

In [ ]:
# 리스트 삭제 (del, remove, pop)
my_list = [10, 13, 20, 30, 40, ['mon', 'tue']]
del my_list[-1] # 또는 [5]
# del은 인덱스 번호로 삭제한다
print(my_list)
# [10, 13, 20, 30, 40]

[10, 13, 20, 30, 40]

In [ ]:
my_list.remove(13)
# remove는 값 삭제
print(my_list)
# [10, 20, 30, 40]

[10, 20, 30, 40]

In [ ]:
my_list.pop()
# pop은 맨 뒤 값 하나를 내보낸다
print(my_list) # pop하고 남은 값
# [10, 20, 30]

[10, 20, 30]
[10, 30]

In [ ]:
my_list.pop(1)
# 인덱스 번호를 이용해 원하는 위치의 값을 내보낼 수도 있다
print(my_list)
# [10, 30]

In [ ]:
# 리스트 정렬 (오름차순, 내림차순, 역순)
a = [8,6,5,2,4]

a.sort() # 오름차순 정렬
print(a)
# [2, 4, 5, 6, 8]

[2, 4, 5, 6, 8]

In [ ]:
a = [8,6,5,2,4]
a.reverse() # 리스트 순서를 거꾸로
print(a)
# [4, 2, 5, 6, 8]

[4, 2, 5, 6, 8]

In [ ]:
# 리스트 정렬 (오름차순, 내림차순, 역순)
a = [8,6,5,2,4]

a.sort(reverse=True) # 내림차순 정렬
print(a)
# [8, 6, 5, 4, 2]

[8, 6, 5, 4, 2]

In [ ]:
a = [8,6,5,2,4]
print(a.sort())
# None

None

In [ ]:
# 리스트 내 원소의 개수 세기
a=[8,6,8,2,8]
print(a.count(8))

# 리스트 내 원소의 인덱스 찾기
print(a.index(2))

# 리스트 내 원소 모두 삭제
a.clear()
print(a)

3
3
[]

In [ ]:
# 딕셔너리
menu = {}
menu["떡볶이"]=3000
print(menu)

menu["김밥"]=1000
menu["라면"]=2000
print(menu)

{'떡볶이': 3000}
{'떡볶이': 3000, '김밥': 1000, '라면': 2000}

In [ ]:
print(menu['라면'])

2000

In [ ]:
print(menu.keys())
# 출력결과 : dict_keys(['떡볶이', '김밥', '라면'])

print(menu.values())
# 출력결과 : dict_values([3000, 1000, 2000])

print(menu.items())
# 출력결과 : dict_items([('떡볶이', 3000), ('김밥', 1000), ('라면', 2000)])

dict_keys(['떡볶이', '김밥', '라면'])
dict_values([3000, 1000, 2000])
dict_items([('떡볶이', 3000), ('김밥', 1000), ('라면', 2000)])

In [ ]:
# 딕셔너리 검색
print(menu.get('김밥'))
# 1000

print(menu.get('빵'))
# None

1000
None

In [ ]:
menu = {'떡볶이':3000, '김밥':1000, '라면':2000}
print(menu.get('어묵', 'not found'))

not found

In [ ]:
# 리스트 내포 형식
my_list = [ -20, -10, 0, 10, 20 ]
print([x for x in my_list])

[-20, -10, 0, 10, 20]

In [ ]:
print([x/2 for x in my_list])

[-10.0, -5.0, 0.0, 5.0, 10.0]

In [ ]:
print([x+5 for x in my_list])

[-15, -5, 5, 15, 25]

In [ ]:
# print([1/x for x in my_list])
# x가 0이 될수 있으니 오류 발생

In [ ]:
list1= [-20, -10, 0, 10, 20]
print([x/2 for x in list1 if x>0 ])

[5.0, 10.0]

In [ ]:
alpha = [chr(n) for n in range(97, 97+26)]
# 아스키코드에서 97은 소문자 a
print(alpha)
print()

print(chr(97))
print(chr(98))

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

a
b