<a href="https://colab.research.google.com/github/naro-naro/Colab/blob/main/230908.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 변수란 무엇인가? - 값을 저장할 수 있는 상자
# 변수명, 식별자규칙?
* 첫글자가 숫자 (X)
* 첫글자가 특수기호(X), 단, 밑줄(_)만 가능
* 예약어 사용? (X)
* 영문자 대,소구별 (O)
* 의미전달이 가능한 길이의 변수명

In [ ]:
a = 10
b = 3
hap = a+b
print(hap)
b = 5
print(hap)
print(b)

13
13
5

In [ ]:
hap = num+b
print(hap)
# num을 정의하지 않음

NameError: ignored

In [ ]:
num =input('숫자입력: ')
hap = num+b # 왜 오류? input으로 입력받은 숫자는 문자열이므로 문자열+정수형의 덧셈연산 불가
print(hap)

숫자입력: 3

TypeError: ignored

# 파이썬 자료형
* 문자열형(string, str)
* 정수형(integer, int)
* 실수형(float)
* 불린형(bool), Ture, False

In [ ]:
num =int(input('숫자입력: '))
hap = num+b
print(hap)

숫자입력: 3
8

In [ ]:
text = '3.14'
print(type(text))

<class 'str'>

In [ ]:
text1='3'
print(int(text1))

3

In [ ]:
text = '3.14'
# print(int(text)) # 왜 오류? 실수는 바로 정수로 바꿀 수 없다
text2=float('3.14')
print(int(text2))

3

# 산술연산자

 \+ (덧셈, 같은 자료형을 연결)

 \* (곱셈, 반복연산자)

 \- (뺄셈)

 / (나눗셈, 실수형변환)

 // (몫 연산자, 정수형변환)

 % (나머지 연산자, 정수형)

 \** (거듭제곱)

In [ ]:
print('='*30)

==============================

In [ ]:
a = 10
b = 5
print(a/b)

2.0

In [ ]:
a,b = 10, 5
print(a//b)

2

In [ ]:
a,b = 10.0, 5 # 하나만 실수여도 결과가 실수
print(a//b)

2.0

In [ ]:
a,b,c = 10, 5, 3
print(a%c)

1

In [ ]:
a,b,c = 10, 5, 3.0
print(a%c)

1.0

In [ ]:
a,b,c = 10, 5, 3.0
print(c**2) # (3.0)**2 --> 9.0

9.0

In [ ]:
test = "Hello~ "
print(test*30)

Hello~ Hello~ Hello~ Hello~ Hello~ Hello~ Hello~ Hello~ Hello~ Hello~ Hello~ Hello~ Hello~ Hello~ Hello~ Hello~ Hello~ Hello~ Hello~ Hello~ Hello~ Hello~ Hello~ Hello~ Hello~ Hello~ Hello~ Hello~ Hello~ Hello~

In [ ]:
# 내 호주머니에 23,760원이 있다. 잔돈으로 바꿨을 때 가장 적도록
my_money = 23760

my_5000 = my_money//5000
after_5000 = my_money%5000

my_1000 = after_5000//1000
after_1000 = after_5000%1000

my_500 = after_1000//500
after_500 = after_1000%500

my_100 = after_500//100
after_100 = after_500%100

my_50 = after_100//50
after_50 = after_100%50

my_10 = after_50//10

print(my_5000, my_1000, my_500, my_100, my_50, my_10)

4 3 1 2 1 1

In [ ]:
my_money = 23760
for i in (5000,1000,500,100,50,10):
    my_coin = my_money//i
    print('{}원 : {}개'.format(i, my_coin))
    my_money %= i

5000원 : 4개
1000원 : 3개
500원 : 1개
100원 : 2개
50원 : 1개
10원 : 1개

# 대입연산자

* =

* += (왼쪽 변수에 오른쪽 값을 더하고 결과를 왼쪽 변수에 할당)

* -=

* *=

* /=



# 비교연산자

* == 같다

* != 같지 않다

*  |>

* |>=, <

* <=

In [ ]:
age= int(input('나이를 입력하세요: '))
if age>=20:
        print('성인입니다.')
else:
        print('성인이 아닙니다.')
print('이용해 주셔서 감사합니다.')

나이를 입력하세요: 10
성인이 아닙니다.
이용해 주셔서 감사합니다.

#논리연산자

*and : 모두 참일 때 참

*or : 하나만 참이면 참

*not : 논리 상태 반전

In [ ]:
#키 155, 몸무게 45이상부터 탑승 가능한 놀이기구

weight=int(input("몸무게를 입력하세요: "))
height=int(input("키를 입력하세요: "))
if weight>=45 and height>=155:
    print("탑승가능!")
else:
    print("탑승불가!!")

몸무게를 입력하세요: 50
키를 입력하세요: 155
탑승가능!

#표준입출력

#입력

* input()로 입력받은 자료는 문자열로 저장된다

* int, float 자료형 등을 이용해 변환 가능


#출력

* print() 함수

* end옵션을 이용해 줄바꿈 제어 가능

In [ ]:
print("파이썬",end=' ')
print("짱")

파이썬 짱

#표준출력
* %형식지정

* format함수

* f-string

In [ ]:
a = int(input('첫번째 숫자 입력: '))
b = int(input('두번째 숫자 입력: '))
print('%d+%d=%d'%(a,b,a+b))

첫번째 숫자 입력: 3
두번째 숫자 입력: 4
3+4=7

In [ ]:
a = int(input('첫번째 숫자 입력: '))
b = int(input('두번째 숫자 입력: '))
print('%04d / %02d = %2.2f'%(a,b,a/b)) # 자릿수맞추기

첫번째 숫자 입력: 10
두번째 숫자 입력: 3
0010 / 03 = 3.33

In [ ]:
a = int(input('첫번째 숫자 입력: '))
b = int(input('두번째 숫자 입력: '))
print('{0}*{1}={2}'.format(a,b,a*b))

첫번째 숫자 입력: 2
두번째 숫자 입력: 3
2*3=6

In [ ]:
print('{1} {1} 빛나는 {0}'.format('별','반짝'))

반짝 반짝 빛나는 별

In [ ]:
a = int(input('첫번째 숫자 입력: '))
b = int(input('두번째 숫자 입력: '))
print(f'{a}-{b}={a-b}')

첫번째 숫자 입력: 5
두번째 숫자 입력: 3
5-3=2